body {
    background-image: url('./gray-texture.jpg');
    background-size: cover;
    margin: 0;
    font-family: "input-mono", monospace;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    margin: 0;
    height: 78px;
    background-color:rgba(85, 107, 47, 0.69);
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 36px;
}

#logo, #nav-bar {
    margin: auto 3rem;
}

#nav-bar ul li {
    display: inline-block;
    margin: auto 3rem;
}

main {
    display: flex;
    margin: 10% 5% 5% 5%;
    justify-content: space-between;
}

#bio {
    flex-direction: column;
    width: 600px;
}

#profile-pic {
    width: 600px;
    height: auto;
    float: right;
}

h2 {
    margin: 5%;
}

#skills {
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

.skill {
    width: 100px;
    height: auto;
}

#projects {
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

.project {
    width: 300px;
    height: auto;
}

#contact-container {
    margin: 10% 5% 5% 5%;
}