body {
    background-image: url('./gray-texture.jpg');
    background-size: cover;
    margin: 0;
    font-family: "input-mono", monospace;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    margin: 0;
    height: 78px;
    background-color:rgba(85, 107, 47, 0.69);
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 36px;
}

#logo, #nav-bar {
    margin: auto 3rem;
}

#nav-bar ul li {
    display: inline-block;
    margin: auto 3rem;
}

#nav-bar ul a:visited {
    color: black;
}

#nav-bar ul a:hover {
    color: white;
}

main {
    display: flex;
    margin: 10% 5% 5% 5%;
    justify-content: space-between;
}

#bio {
    flex-direction: column;
    width: 40%;
    min-width: 250px;
}

#profile-pic-container {
    width: 600px;
    height: auto;
    float: right;
    align-content: center;
    margin: 2.5%
}

#profile-pic {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    margin: 5%;
}

#skills {
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

.skill {
    width: 100px;
    height: auto;
}

#projects {
    display: flex;
    margin: 5%;
    justify-content: space-around;
}

.project {
    width: 300px;
    height: auto;
}

#contact-container {
    margin: 15% 5% 5% 5%;
}

@media only screen and (max-width: 750px) {
    main {
    flex-direction: column;
    justify-content: center;
    margin: 15% auto auto auto;
    }

    #profile-pic-container {
        width: 400px;
        height: auto;
        justify-content: center;
        align-content: center;
        margin: 2.5% auto;
    }

    #bio {
        width: 80%;
        margin: 0 auto;
    }

    .project {
        margin: 2.5% auto;
    }

    #projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2.5% auto;
        width: 80%;
    }

    #logo, #nav-bar {
        margin: auto 1rem;
    }
    
    #nav-bar ul li {
        margin: auto 1rem;
    }

    #contact-container {
        margin: 20% 2.5% auto 2.5%;
        justify-content: center;
    }
}